*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Project Files #
*.project
*.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
/bin/
/task2/CarRental/nbproject/private/
/task2/CarRental-ejb/nbproject/private/
/task2/CarRental-client/nbproject/private/
/task2/CarRental-lib/nbproject/private/
/task2/CarRental-lib/build/
/task2/CarRental-client/dist/
/task2/CarRental-lib/dist/
/task2/CarRental-client/build/
/task2/CarRental/build/
/task2/CarRental/dist/
/task2/CarRental-ejb/build/
/task2/CarRental-ejb/dist/
/task4/CarRental/nbproject/private/
/task4/CarRental-lib/nbproject/private/
/task4/CarRental-client/nbproject/private/
/task4/CarRental-ejb/nbproject/private/
/task4/CarRental-lib/build/
/task5/CarRental/nbproject/private/
/task5/CarRental-ejb/nbproject/private/
/task5/CarRental-lib/nbproject/private/
/task5/CarRental-client/nbproject/private/
/task4/CarRental-lib/dist/
/task4/CarRental/build/
/task4/CarRental-ejb/dist/
/task4/CarRental-client/build/
/task4/CarRental/dist/
/task4/CarRental-client/dist/
/task4/CarRental-ejb/build/